*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 90px 0px 90px;
    padding-bottom: 0;
}

.menu-container a:hover {
    color: hsl(5, 85%, 63%);
    cursor: pointer;
}

.logo {
    width: 4%;
}

.link {
    padding-left: 20px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    color: grey;
    font-weight: 500;
}

main {display: flex;
    margin-top: 40px;
    padding: 0px 90px 0px 90px;
}

.container-left {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding-right: 50px;
}

.container-left img {
    width: 100%;
}

section {
    display: flex;
    margin-top: 32px;
}

.tittle-container {
    width: 50%;
}

.tittle-container h1 {
    font-size: 60px;
    padding-right: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    color: hsl(240, 100%, 5%);
}

.paragraph-container {
    width: 50%;
}

.paragraph-container p {
    padding-top: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

.btn-container {
    display: flex;
    align-items: flex-end;
    height: 110px;
}

.button {
    background-color: hsl(5, 85%, 63%);
    border: none;
    color: white;
    margin-top: 30px;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-align: justify;
  }

  .button:hover{
    cursor: pointer;
    background-color: hsl(240, 100%, 5%);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

aside {
    width: 30%;
    background-color: hsl(240, 100%, 5%);
    color: white;
    font-family: 'Inter', sans-serif;
    align-items: center;
    margin-bottom: 20px;
}

aside h3 {
    padding-bottom: 10px;
}

aside h3:hover {
    color: hsl(35, 77%, 62%);
    cursor: pointer;
}

aside p {
    font-size: large;
}

.aside-tittle {
    color: hsl(35, 77%, 62%);
    padding-top: 30px;
    padding-bottom: 16px;
    padding-left: 25px;
    font-size: xx-large;
}

.aside-top-content {
    margin: 25px;
    padding-bottom: 30px;
    border-bottom: 1px solid white;
}

.aside-middle-content {
    margin: 25px;
    padding-bottom: 30px;
    border-bottom: 1px solid white;
}

.aside-bottom-content {
    margin: 25px;
    padding-bottom: 30px;
}

.container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0px 90px 0px 90px;
}

.element {
    display: flex;
    font-family: 'Inter', sans-serif;
}

.element-img {
    width: 100px;
}

.element-content-left {
    display: flex;
    align-items: center;
}

.element-content-right {
    padding-left: 20px;
}

.element-content-right h3, h4{
    margin-bottom: 15px;
}

.element-content-right h3 {
    color: lightgrey;
    font-size: 28px;
}

.element-content-right p {
    font-size: large;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }